
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Relatorio</title>
</head>
<body>
    <div> 

        Aluno: @ViewBag.Cod - @ViewBag.Nome
        <br/>
        Endereço: @ViewData["Endereco"] - @ViewData["Cep"]

    </div>
</body>
</html>
